@import "tailwindcss";

:root {
  --text: rgba(255, 255, 255, 0.9);
  --text-h: rgb(191, 255, 236);
  --text-dark: rgb(97, 161, 141);
  --bg: #16171d;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: "Geist", sans-serif;
  --heading: "Geist", sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --font-weight-title: 550;
  --font-weight-content: 100;
  --letter-spacing-content: 0.1em;
  --letter-spacing-title: 0.15em;

  --fontsize-title: min(2.5vw,15px);
  --fontsize-p: min(2vw,10px);
  --fontsize-button: min(2.5vw, 1rem);

  font: 18px/145% var(--sans);
  font-weight: var(--font-weight-content);
  letter-spacing: var(--letter-spacing-content);
  color-scheme: light dark;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: rgba(250, 251, 250, 0.9);
    --text-h: rgb(191, 255, 236);
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: var(--font-weight-title);
}

h1 {
  color: var(--text-h);
}
h2 {
  line-height: 118%;
  letter-spacing: var(--letter-spacing);
}
button, p {
  cursor: pointer;
  font-family: var(--sans);
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.red{
  background-color: #bd373094;
  color: rgb(255, 255, 255);
}

@keyframes liquid {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}